* {
  box-sizing: border-box;
}

#main {
    background-color: rgb(255, 255, 255);
    padding: 0px 60px;
}


#main_gallery {
    display: table;
    margin: 30px 0px;
}

#main_gallery img{
    width: 300px;
    height: 200px;
    margin: 20px auto;
    display: block;
}

#main_gallery img:hover{
    border: 3px solid rgb(150, 0, 0);
}


@media only screen and (min-width: 760px){
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 1080px){
    .col-r-1 {width: 8.33%;}
    .col-r-2 {width: 16.66%;}
    .col-r-3 {width: 25%;}
    .col-r-4 {width: 33.33%;}
    .col-r-5 {width: 41.66%;}
    .col-r-6 {width: 50%;}
    .col-r-7 {width: 58.33%;}
    .col-r-8 {width: 66.66%;}
    .col-r-9 {width: 75%;}
    .col-r-10 {width: 83.33%;}
    .col-r-11 {width: 91.66%;}
    .col-r-12 {width: 100%;}
}

@media only screen and (min-width: 1400px){
    .col-p-1 {width: 8.33%;}
    .col-p-2 {width: 16.66%;}
    .col-p-3 {width: 25%;}
    .col-p-4 {width: 33.33%;}
    .col-p-5 {width: 41.66%;}
    .col-p-6 {width: 50%;}
    .col-p-7 {width: 58.33%;}
    .col-p-8 {width: 66.66%;}
    .col-p-9 {width: 75%;}
    .col-p-10 {width: 83.33%;}
    .col-p-11 {width: 91.66%;}
    .col-p-12 {width: 100%;}
}

header li:nth-child(5) a:first-child {
    background-color: rgb(150,0,0);
    color: white;
    font-weight: bold;
}